body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f3f6;
}

h1 {
    text-align: center;
}

.gauges {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 420px;
    padding: 20px;
    border-radius: 15px;

    box-shadow:
        0px 2px 10px rgba(0,0,0,0.15);

    text-align: center;
}

.value {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.chartCard {
    background: white;
    margin: 30px auto;
    padding: 20px;

    border-radius: 15px;

    width: 95%;

    box-shadow:
        0px 2px 10px rgba(0,0,0,0.15);
}

canvas {
    max-width: 100%;
}

@media(max-width:768px){

    .card{
        width:100%;
    }

}
